:root {
  --primary-text-color: #2196F3; var(--primary-text-color);
  --title-text-color: black var(--title-text-color);
  --accent-color: blue var(--accent-color);
  --prmary-white-color: white var(--prmary-white-color);
  --Logo-blue-color: #2196f3;
  --Logo-black-color: #000000;
  --Logo-white-color: #ffffff;
  --h2-text-color: #212121;
  --p-text-color: #757575;
  --footer-header-background: #2f303a;
  --our-team-background: #f5f4fa;
}
}
.body {
  font-family: "Roboto", "sans-serif";
  color: var(--title-text-color);

}


/* <------MAIN ----
Section banner */
.banner {
  background-color: #2F303A;
  text-align: center;
}

.title { 
color: white;
font-family: "Roboto", "sans-serif";
font-weight: 900;
font-size: 44px;
line-height: 1.36
}

 .button-primary {
  color: white;
background-color: #2196F3;
font-family: "Roboto", "sans-serif";
font-weight: 700;
font-size: 16px;
line-height: 1.87;
}

/* Section features*/
.title-three{
  font-family: "Roboto", "sans-serif";
font-weight: 700;
font-size: 14px;
line-height: 1.14;
color: #212121;
}

.text{
  font-family: "Roboto", "sans-serif";
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: #757575;
}

/* section activity */
.title-two{
font-family: "Roboto", "sans-serif";
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center
}
.no-display {
  display: none;
}
ul {
  list-style-type: none;
}
button.filter {
  padding: 6px 22px 6px 22px;
  color: var(--h2-text-color);
  background-color: var(--our-team-background);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  box-shadow: none;
  border: none;
}
button.filter:hover,
button.active:focus {
  color: var(--Logo-white-color);
  background-color: var(--Logo-blue-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-color: var(--Logo-white-color);
  box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.5); /* Параметры тени */
}
.search-menu {
  display: flex;
  justify-content: center;
  margin-top: 87px;
  margin-bottom: 50px;
}
.search-menu > li:not(:last-child) {
  margin-right: 8px;
}

/* section team */
.team{background: #F5F4FA;}

.team-list{
font-family: "Roboto", "sans-serif";
font-weight: 500;
font-size: 16px;
line-height: 1.9p;
}

.profession{
font-family: "Roboto", "sans-serif";
font-weight: 400;
font-size: 16px;
line-height: 1.9;
color: #757575;
}


/* LOGO */
.logo-header {
  color: var(--title-text-color);
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none
}
    
.logo-color {
  color: var(--primary-text-color);
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none
}
/* Header */
.header-contact .contact-list,
.header-nav .contact-list{ 
  text-decoration: none;
  
  
   color: var(--title-text-color);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
}

/* Contacts */
.contact-list:focus,
.contact-list:hover { 
    color: var(--primary-text-color);
}
.contact-list { 
font-family: "Roboto", "sans-serif";
font-weight: 500;
font-size: 14px;
line-height: 1.42;
color: black
}



.header-contact .contact-list:focus,
.header-contact .contact-list:hover {
  color: var(--primary-text-color);
}

.header-contact .contact-list {
  color: #757575;
}
.list  {
  list-style: none;
}
.banner-footer .adress-list {

  
  text-decoration: none;
 color: rgba(255, 255, 255, 0.6);
}

.banner-footer{
background-color: #2F303A;
font-family: "Roboto", "sans-serif";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.42;
}
 .adress-line{
   color:#FFFFFF;
  }

.adress-list:focus,
.adress-list:hover
{
  color: var(--primary-text-color);
}

.logo-studio{
  color: white
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.7;
  text-decoration: none
}
.logo-footer{
  text-decoration: none;
    color: white
}
.title-portfolio {
font-family:"Roboto";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
